---
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
	const projects = await getCollection("projects");
	return projects.map((project) => ({
		params: { id: project.id },
		props: { post: project },
	}));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
	<section class="mx-auto max-w-screen-xl gap-4 px-4 py-32 lg:text-xl">
		<header>
			<h1 class="mb-8 font-heading text-4xl">{post.data.title}</h1>
		</header>

		<Content />
	</section>
</Layout>
