---
import Layout from "../../layouts/Layout.astro";
import Project from "../../components/Project.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
	const projects = await getCollection("projects");
	return projects.map((project) => ({
		params: { id: project.id },
		props: { project: project },
	}));
}

const { project } = Astro.props;
---

<Layout title={project.data.title}>
	<section class="mx-auto max-w-screen-xl gap-4 px-4 py-32 lg:text-xl">
		<header>
			<h1 class="mb-8 font-heading text-4xl">{project.data.title}</h1>
		</header>

		<Project project={project} />
	</section>
</Layout>
